name: Selenium Automation Pipeline

on:
  push:
    branches: [ "main" ]

  pull_request:
    branches: [ "main" ]

  schedule:
    - cron: '30 3 * * *'   # Daily 9 AM IST

  workflow_dispatch:
    inputs:
      tags:
        description: "Optional Cucumber Tags"
        required: false

jobs:
  test:
    runs-on: ubuntu-latest

    steps:

      # Checkout Code
      - name: Checkout Code
        uses: actions/checkout@v4

      # Setup Java
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      # Cache Maven Dependencies
      - name: Cache Maven
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: maven-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}

      # Build Project
      - name: Build Project
        run: mvn clean install -DskipTests

      # Execute Automation Tests
      - name: Run Automation Tests
        run: |
          if [ -z "${{ github.event.inputs.tags }}" ]; then
            echo "Running FULL test suite"
            mvn test -Dheadless=true
          else
            echo "Running tests with tags: ${{ github.event.inputs.tags }}"
            mvn test -Dheadless=true -Dcucumber.filter.tags="${{ github.event.inputs.tags }}"
          fi

      # Upload Extent Report
      - name: Upload Extent Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Extent-Report
          path: test-output/ExtentReports/ExtentReport.html

      # Send Email Notification
      - name: Send Email Notification
        if: always()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: Automation Execution Result
          to: maahi082000@gmail.com
          from: GitHub Actions
          body: |
            Automation execution completed.
            
            Repository: ${{ github.repository }}
            Branch: ${{ github.ref_name }}
            Status: ${{ job.status }}
            
            Please download report from GitHub Actions.
